@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./JosefinSlab-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

